/* Seletor de Tags */
h1 {
  color: brown;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

p {
  color: blue;
  font-size: 25px;
}

/* Seletor de IDs */
#texto-qualquer {
  font-size: 28px;
  color: black;
}

/* Seletor de Class */
.paragrafos {
  font-size: 40px;
  color: pink;
}

.primeiro-paragrafo {
  color: black;
  font-size: 20px;
}

.segundo-paragrafo {
  color: yellow;
  font-size: 20px;
}

/* Combinando Seletores */
p span {
  color: black;
  font-size: 30px;
}
