* {
  font-family: "Monteserrat", sans-serif;
  color: #404040;
}

/* Cabeçalho */
.item-lista-cabecalho a {
  color: #112e61;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* Seção Hero */
h1 {
  font-size: 26.36px;
  font-weight: 600;
}

.hero-paragrafo {
  font-size: 15.36px;
}

.botao-hero {
  font-size: 19.02px;
  font-weight: 700;
  text-decoration: none;
}

/* Seção Conteúdos Gratuitos */
.gratuito-realce {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-size: 18px;
  font-weight: 700;
}

.gratuito-link-lista {
  font-size: 15px;
  text-decoration: none;
}
