/* Global */

* {
  font-family: "Monteserrat", sans-serif;
  color: #404040;
}

h1 {
  font-size: 26px;
  font-weight: 600;
}

h2 {
  font-size: 35px;
  font-weight: 400;
}

p {
  font-size: 16px;
}

strong {
  font-weight: 600;
}

/* Cabeçalho */
.item-lista-cabecalho a {
  color: #112e61;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* Seção Hero */

.hero-paragrafo {
  font-size: 15.36px;
}

.botao-hero {
  font-size: 19.02px;
  font-weight: 700;
  text-decoration: none;
}

/* Seção Conteúdos Gratuitos */

.gratuito-realce {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-size: 18px;
  font-weight: 700;
}

.gratuito-link-lista {
  font-size: 19px;
  text-decoration: none;
}

/* Seção diferenciais */
.diferenciais-h3 {
  font-size: 19px;
  color: #005e88;
  font-weight: 600;
}

.diferenciais-h3-empresas a {
  font-size: 19px;
  color: #005e88;
  font-weight: 700;
  text-decoration: none;
}

.diferenciais-h3-empresas {
  font-weight: 400;
}
